
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.serach_bar{
    position: relative;
    top: auto;
    z-index: 2;
    padding: 25px 0;
    background-color: #fff;
    background-image: none;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.03);
}


.tab-content button.toggle-btn::after{
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0;
    border-right: 0.3em solid transparent;
    border-bottom: 0.3em solid;
    border-left: 0.3em solid transparent;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%,0);
}

.tab-content button.toggle-btn{
    height: 66px!important;
    border: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    overflow: hidden;
    position: absolute;
    padding-top: inherit;
    padding-right: inherit;
    padding-bottom: inherit;
    padding-left: inherit;
    width: 100%;
    color: #4a4a4a;
    font-size: 18px;
    font-weight: 700;
}


.serach_bar .drop-menu{
    margin: 5px 0;
    border: 2px solid #000;
    border-radius: 8px;
    box-shadow: 0 10px 50px rgba(0,0,0,.3);
    box-sizing: border-box;

}


.serach_bar .drop-menu input{
    border: 2px solid #222;
    box-shadow: none;
    margin-bottom: 7px;
    font-weight: 600;
    padding-left: 20px;
    width: 100%;
    float: none;
    padding: 0.375rem 0.75rem;
  

}

.serach_bar .dropdown-menu{
 position: absolute;
 transform: translate(0,34%);
 padding: 10px 0px;
}


.serach_bar .dropdown-menu_2{
    border: 2px solid black;
    border-radius: 10px;
}


.serach_bar .dropdown-menu_2>div>input{
    border: 2px solid #222;
    box-shadow: none;
    margin-bottom: 7px;
    font-weight: 600;
    border-radius: 4px;
}

.serach_bar .dropmenu li{
    padding: 0.25rem 1.5rem;

}

.serach_bar .dropmenu li:hover{
    background-color: #dad7d7;
}


.serach_bar .site_nave ul li{
    margin: 0px 4px;
}

.serach_bar form>ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    background: rgba(255,255,255,.88);
    border: 2px solid #dad7d7;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.3);
    border-radius: 8px;
}


.serach_bar form>ul>li{
    position: relative;
    flex: 1 100%;
    height: 66px;
    border: 1px solid #4a4a4a;
}


.serach_bar form>ul>li>input{
    padding: 20px;
    font-weight: 600;
    width: 100%;
    height: 100%;
    border: none;
    background: 0 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.serach_bar form ul li.action{
    display: block;
    width: 100%;
    background: #4a4a4a;
    border: none;
    cursor: pointer;
    color: white;
    background: 0 0;

}

.serach_bar form ul li.action .search{
    display: block;
    width: 100%;
    height: 100%;
    background: #4a4a4a;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all .2s ease-in-out;

}

.serach_bar form ul li.action button:hover{
    background-color: white;
    color: #4a4a4a;
}

.serach_bar form ul li select{
    position: absolute!important;
    bottom: 0;
    left: 50%;
    display: block!important;
    width: 0.5px!important;
    height: 100%!important;
    padding: 0!important;
    opacity: 0!important;
    border: none;
}


.nav_item::before{
    display: inline-block;
    padding-right: 10px;
    color: #6c757d;
    content: "/";
}

.center-list-item{
    position: relative;
    min-height: 230px;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
    border-radius: 10px;
    margin-bottom: 15px;
    backface-visibility: hidden;
    transition: .35s ease-out;
}

.detail-btn{
    border: 1px solid #7f8e93;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    color: #7f8e93;
    background-color: transparent;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 800;
}

.detail-btn:hover{
    background-color: #7f8e93;
    color: white;
}


.fas{
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    display: inline-block;
    margin-right: 5px;
    color: #4a4a4a;
}

.fa-map-marker-alt:before {
    content: "\f3c5";
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.page-link:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
    font-size:18px;
    font-weight: 500;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}