<div class="bg-[#f0f7f6] pb-[80px]">
    <h1 class="text-[30px] font-[700] text-center py-[40px]">Register Doctor</h1>
    <div class="container bg-white lg:max-w-[1140px] rounded-[9px]" style="border: 1px solid rgba(0,0,0,.125)">
        <form class="px-[6rem] py-[6rem]">
            <div class="flex flex-row justify-around">
                <div class="form-group basis-1/2 px-[20px]">
                    <label class="text-[22px] font-[500]">First Name :</label>
                    <div class="mt-[10px]">
                        <input type="text" placeholder="First Name" class="form-control w-[100%]"  required/>
                    </div>
                </div>
                <div class="form-group basis-1/2 px-[20px]">
                    <label class="text-[22px] font-[500]">Last Name :</label>
                    <div class="mt-[10px]">
                        <input type="text" placeholder="Last Name" class="form-control w-[100%]" required/>
                    </div>
                </div>
            </div>
            <div class=" mt-[30px] px-[20px]">
                <label class="text-[22px] font-[500]">Doctor phone (hidden public) :</label>
                <div class="form-group basis-1/2 mt-[10px]">
                    <input type="tel" class="form-control" placeholder="Doctor phone (hidden public)" required/>
                </div>
            </div>

            <div class="mt-[30px] px-[20px]">
                <label class="text-[22px] font-[500]">Specialty :</label>
                <div class="form-group basis-1/2 mt-[10px]">
                    <select class="form-control">
                        <option>Select the Specialty</option>
                    </select>
                </div>
            </div>

            <div class=" mt-[30px] px-[20px]">
                <label class="text-[22px] font-[500]">متخصص في :</label>
                <div class="form-group basis-1/2 mt-[10px]">
                    <input type="text" placeholder="Specialtize in" class="form-control" required/>
                </div>
            </div>

            <div class=" mt-[30px] px-[20px]">
                <label class="text-[22px] font-[500]">Clinic Phone :</label>
                <div class="form-group basis-1/2 mt-[10px]">
                    <input type="tel" class="form-control" placeholder="Clinic Phone" required/>
                </div>
            </div>

            <div class=" mt-[30px] px-[20px]">
                <label class="text-[22px] font-[500]">City :</label>
                <div class="form-group basis-1/2 mt-[10px]">
                    <input type="text" class="form-control" placeholder="City" required/>
                </div>
            </div>

            <div class=" mt-[30px] px-[20px]">
                <label class="text-[22px] font-[500]">Clinic Address :</label>
                <div class="form-group basis-1/2 mt-[10px]">
                    <input type="text" class="form-control" placeholder="Clinic Address" required/>
                </div>
            </div>

            <div class=" mt-[30px] px-[20px]">
                <label class="text-[22px] font-[500]">Facebook :</label>
                <div class="form-group basis-1/2 mt-[10px]">
                    <input type="text" class="form-control" placeholder="Facebook" required/>
                </div>
            </div>

            <div class=" mt-[30px] px-[20px]">
                <label class="text-[22px] font-[500]">Twitter :</label>
                <div class="form-group basis-1/2 mt-[10px]">
                    <input type="text" class="form-control" placeholder="Twitter" required/>
                </div>
            </div>

            <div class=" mt-[30px] px-[20px]">
                <label class="text-[22px] font-[500]">Instagram :</label>
                <div class="form-group basis-1/2 mt-[10px]">
                    <input type="text" class="form-control" placeholder="Instagram" required/>
                </div>
            </div>

            <div class=" mt-[30px] px-[20px]">
                <!-- <label class="text-[22px] font-[500]">Gender :</label> -->
                <div class="flex flex-row justify-start space-x-[30px]">
                    <div class="flex items-center	">
                        <input id="gender_male" checked type="radio" class="form-check-input w-[24px] h-[24px]" name="gender" value="male">
                        <label for="name" class="form-check-label ml-[7px] text-[22px] font-[500]">Male</label>
                    </div>
                    <div class="flex items-center	">
                        <input id="gender_female" type="radio" class="form-check-input w-[24px] h-[24px]" name="gender" value="female">
                        <label for="name" class="form-check-label ml-[7px] text-[22px] font-[500]">Female</label>
                    </div>
                </div>
            </div>

            <div class=" mt-[30px] px-[20px]">
                <label class="text-[22px] font-[500]">BirthDay :</label>
                <div class="form-group basis-1/2 mt-[10px]">
                    <input type="date" class="form-control" placeholder="BirthDay" required/>
                </div>
            </div>

            <div class=" mt-[30px] px-[20px]">
                <label class="text-[22px] font-[500]">Email Address :</label>
                <div class="form-group basis-1/2 mt-[10px]">
                    <input type="text" class="form-control" placeholder="Email Address" required/>
                </div>
            </div>
            
            <div class="flex flex-row justify-around mt-[30px]">
                <div class="form-group basis-1/2 px-[20px]">
                    <label class="text-[22px] font-[500]">Password :</label>
                    <div class="mt-[10px]">
                        <input type="text" placeholder="Password" class="form-control w-[100%]"  required/>
                    </div>
                </div>
                <div class="form-group basis-1/2 px-[20px]">
                    <label class="text-[22px] font-[500]">Confirm Password :</label>
                    <div class="mt-[10px]">
                        <input type="text" placeholder="Confirm Password" class="form-control w-[100%]" required/>
                    </div>
                </div>
            </div>


            <div class="mt-[30px] px-[20px] flex items-start">
                <input id="gender_female" type="checkbox" class="form-check-input w-[24px] h-[24px]" name="" value="">
                <label for="name" class="form-check-label ml-[7px] text-[1rem]">أرغب في المشاركة في تسجيل لقاءات مصورة توعوية يقوم الموقع بانتاجها وتنشر على موقع دكتورك ومواقع التواصل الاجتماعي باسمي</label>
            </div>

            <div class="mt-[30px] px-[20px] flex items-center">
                <input id="gender_female" type="checkbox" class="form-check-input w-[24px] h-[24px]" name="" value="">
                <label for="name" class="form-check-label ml-[7px] text-[1rem]">أوافق على المشاركة في فقرة لايف طبي مع متابعي الصفحة
                </label>
            </div>

            <div class="mt-[30px] px-[20px] flex items-center">
                <input id="gender_female" type="checkbox" class="form-check-input w-[24px] h-[24px]" name="" value="">
                <label for="name" class="form-check-label ml-[7px] text-[1rem]"> ارغب في الاستفادة من خدمات دكتورك للاطباء والعيادات
                </label>
            </div>
            <div class="mt-[30px]">
                <button class="register_btn ">Register</button>
            </div>
        </form>
    </div>
</div>

<app-footer></app-footer>