<!-- <app-blog-header></app-blog-header> -->
<!-- <div class="bg-[white]">
    <div class="my-[30px] text-center">
        <span>إعلان رئيسي</span>
    </div>
    <div class="relative">
        <div class="container lg: max-w-[1380px]">
            <section>
                <div class="relative">
                    <div>
                        <ul class="tie-slider-nav">
                            <li class="prev" onclick="plusSlides(-1)">&#10094;</li>
                            <li class="next" onclick="plusSlides(1)">&#10095;</li>
                        </ul>
                        <div>
                            <div class="flex flex-row h-[470px] p-[3px] border-[6px] border-solid border-blue-500 rounded-[10px]">
                                <div class="basis-1/3 flex flex-col justify-between">
                                    <div class="h-[calc(50%-2px)] bg-[url('/assets/images/blog/علاج-الحزام-الناري-بالاعشاب.jpg')] bg-cover bg-no-repeat relative">
                                        <a class="w-full h-full absolute top-0 z-10" routerLink="/aa"></a>
                                        <div class="p-[20px] pt-[15px] absolute w-full h-full rounded-[2px] text-[white]"> 
                                            <span class="post-cat-wrap float-right">
                                                <a class="post-cat tie-cat-54">
                                                    مقالات دكتورك
                                                </a>
                                            </span>
                                            <div class="thumb-overlay">
                                                <span class="post-cat-wrap">
                                                    <a class="post-cat tie-cat-1087" >مقالات دكتورك</a>
                                                </span>
                                                <div class="thumb-content">
                                                    <div class="thumb-meta">
                                                        <span class="date meta-item tie-icon">منذ 4 أيام</span>
                                                    </div>
                                                    <h2 class="thumb-title text-[20px]">
                                                        <a >6 طرق لعلاج الحزام الناري بالاعشاب</a>
                                                    </h2>
                                                    <div class="thumb-desc">يعد الهربس النطاقي أو ما يعرف باسم الحزام الناري من الأمراض الشائع للغاية، ومع ذلك…</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="h-[calc(50%-2px)] bg-[url('/assets/images/blog/علاج-نوبة-الهلع-780x470.jpg')] bg-cover bg-no-repeat relative">
                                        <a class="w-full h-full absolute top-0 z-10" routerLink="/bb"></a>
                                        <div class="p-[20px] pt-[15px] absolute w-full h-full rounded-[2px] text-[white]"> 
                                            <span class="post-cat-wrap float-right">
                                                <a class="post-cat tie-cat-54">
                                                    مقالات دكتورك
                                                </a>
                                            </span>
                                            <div class="thumb-content">
                                                <div class="thumb-meta">
                                                    <span class="date meta-item tie-icon">منذ 4 أيام</span>
                                                </div>
                                                <h2 class="thumb-title text-[20px]">
                                                    <a>ما هو اختبار الحمل بالكلور وما هي طريقة عمله؟</a>
                                                </h2>
                                                <div class="thumb-desc">قد تريد بعض السيدات من إجراء إختبار الحمل في المنزل، ولكنهم قد يخجلوا من شراء…</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="basis-2/3 h-[100%-4px] ml-[4px] bg-[url('/assets/images/blog/سيلدين-لعلاج-ضعف-الانتصاب-572x470.jpg')] bg-cover bg-no-repeat relative text-[white]">
                                    <a class="w-full h-full absolute top-0 z-10" routerLink="/bb"></a>
                                    <div class="p-[20px] pt-[15px] absolute w-full h-full rounded-[2px] "> 
                                        <span class="post-cat-wrap float-right">
                                            <a class="post-cat tie-cat-54">
                                                الأدوية
                                            </a>
                                        </span>
                                        <div class="thumb-content text-end">
                                            <div class="my-[5px]">
                                                <span class="date meta-item tie-icon">منذ 23 ساعة</span>
                                            </div>
                                            <h2 class="text-[35px] font-[600]">
                                                <a >كريم بيتاديرم Betaderm أفضل علاج للإلتهابات الجلدية</a>
                                            </h2>
                                            <div class="thumb-desc">كريم بيتاديرم من أكثر الأدوية الفعالة في علاج الالتهابات الجلدية، ولكنه قد يتسبب في العديد…</div>
                                        </div>
                                    </div>
                                </div>
                            </div>                          
                        </div>
                    </div>
                </div>
            </section>

            <section class="my-[50px]">
                <div class="relative">
                    <div class="relative">
                        <ul class="tie-slider-nav">
                            <li class="prev" onclick="plusSlides(-1)">&#10094;</li>
                            <li class="next" onclick="plusSlides(1)">&#10095;</li>
                        </ul>
                        <div class="">
                            <div class="flex flex-row justify-between">
                                <div class="bg-[url('/assets/images/blog/الأطفال-وكورونا-220x150.jpg')] bg-cover bg-no-repeat h-[155px] w-[220px] relative text-[white]"> 
                                    <div class="absolute bottom-[0px] p-[6px] text-end">
                                        <div class="text-[13px]">
                                            <span>29 يناير، 2021</span>
                                        </div>
                                        <h2 class="text-[14px] font-[600]"><a >تلوث الهواء قد يزيد من خطر الإصابة بـ Covid-19 وأمراض القلب</a></h2>
                                    </div>
                                </div>

                                <div class="bg-[url('/assets/images/blog/الأطفال-وكورونا-220x150.jpg')] bg-cover bg-no-repeat h-[155px] w-[220px] relative"> 
                                    <div class="bg-[url('/assets/images/blog/الأطفال-وكورونا-220x150.jpg')] bg-cover bg-no-repeat h-[155px] w-[220px] relative text-[white]"> 
                                        <div class="absolute bottom-[0px] p-[6px] text-end">
                                            <div class="text-[13px]">
                                                <span>29 يناير، 2021</span>
                                            </div>
                                            <h2 class="text-[14px] font-[600]"><a >تلوث الهواء قد يزيد من خطر الإصابة بـ Covid-19 وأمراض القلب</a></h2>
                                        </div>
                                    </div>
                                </div>

                                <div class="bg-[url('/assets/images/blog/الأطفال-وكورونا-220x150.jpg')] bg-cover bg-no-repeat h-[155px] w-[220px] relative"> 
                                    <div class="bg-[url('/assets/images/blog/الأطفال-وكورونا-220x150.jpg')] bg-cover bg-no-repeat h-[155px] w-[220px] relative text-[white]"> 
                                        <div class="absolute bottom-[0px] p-[6px] text-end">
                                            <div class="text-[13px]">
                                                <span>29 يناير، 2021</span>
                                            </div>
                                            <h2 class="text-[14px] font-[600]"><a >تلوث الهواء قد يزيد من خطر الإصابة بـ Covid-19 وأمراض القلب</a></h2>
                                        </div>
                                    </div>
                                </div>

                                <div class="bg-[url('/assets/images/blog/الأطفال-وكورونا-220x150.jpg')] bg-cover bg-no-repeat h-[155px] w-[220px] relative"> 
                                    <div class="bg-[url('/assets/images/blog/الأطفال-وكورونا-220x150.jpg')] bg-cover bg-no-repeat h-[155px] w-[220px] relative text-[white]"> 
                                        <div class="absolute bottom-[0px] p-[6px] text-end">
                                            <div class="text-[13px]">
                                                <span>29 يناير، 2021</span>
                                            </div>
                                            <h2 class="text-[14px] font-[600]"><a >تلوث الهواء قد يزيد من خطر الإصابة بـ Covid-19 وأمراض القلب</a></h2>
                                        </div>
                                    </div>
                                </div>

                                <div class="bg-[url('/assets/images/blog/الأطفال-وكورونا-220x150.jpg')] bg-cover bg-no-repeat h-[155px] w-[220px] relative"> 
                                    <div class="bg-[url('/assets/images/blog/الأطفال-وكورونا-220x150.jpg')] bg-cover bg-no-repeat h-[155px] w-[220px] relative text-[white]"> 
                                        <div class="absolute bottom-[0px] p-[6px] text-end">
                                            <div class="text-[13px]">
                                                <span>29 يناير، 2021</span>
                                            </div>
                                            <h2 class="text-[14px] font-[600]"><a >تلوث الهواء قد يزيد من خطر الإصابة بـ Covid-19 وأمراض القلب</a></h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div></div>
                        </div>
                        
                    </div>
                </div>
                <div class="text-center mt-[15px]">
                    <span class="dot" onclick="currentSlide(1)"></span> 
                    <span class="dot" onclick="currentSlide(2)"></span> 
                </div>
            </section>
            <section class="my-[20px] container lg: max-w-[1170px] ">
                <div class="flex flex-row">
                    <div class="basis-1/3 p-[10px]">
                        <img src="/assets/images/blog/Doctorarakhome.jpg"  />
                    </div>
                    <div class="basis-2/3 p-[10px]">
                        <div class="bg-[white]" style="border: 1px solid rgba(0,0,0,0.1);">
                            <div class="p-[30px] rounded-[2px] bg-[white]">
                                <div class="text-[#e255f8] relative text-[17px] pb-[15px] mb-[20px] flex justify-between">
                                    <div class="flex flex-row justify-start">
                                        <ul class="flex flex-row" >
                                            <li><a >الكل</a></li>
                                            <li><a >دكتورك بيقولك</a></li>
                                        </ul>
                                        <ul class="slider-arrow-nav">
                                            <li> 
                                                <a class="block-pagination prev-posts pagination-disabled" href="#"> 
                                                    <span class="tie-icon-angle-left" aria-hidden="true"></span> 
                                                    <span class="hidden">الصفحة السابقة</span> 
                                                </a>
                                            </li>
                                            <li>
                                                <a class="block-pagination next-posts" href="#"> 
                                                    <span class="tie-icon-angle-right" aria-hidden="true"></span> 
                                                    <span class="hidden">الصفحة التالية</span> 
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <h3 class="font-[600] text-[18px]"> دكتورك بيقولك</h3>

                                </div>
                                <div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div> -->


<div style="line-height: 160px;">
    <app-main-slider></app-main-slider>
</div>
