<div class="bg-[#f0f7f6] py-[120px] text-end">
    <div class="rounded-[10px] bg-white container lg:max-w-[1280px] pt-[10px] pb-[50px]">
        <div class="cal-title text-[#0062cc]">
            <h1 class="font-[500] text-[2.5rem] pb-[15px]">حاسبة التبويض</h1>
            <hr >
        </div>    
        <div class="cal-body">
            <div class="flex flex-row-reverse items-start mt-[60px] container lg:max-w-[768px]">
                <div class="basis-[12.333333%]">
                    <img src="/assets/images/home/Ovulation.png" />
                </div>
                <div class="mr-[40px] basis-11/12">
                    <h1 class="pb-[15px] text-[18px] font-[600] text-[#4a4a4a]">حاسبة الدورة الشهرية</h1>
                </div>
            </div>           
            <div class="container lg:max-w-[768px] flex flex-row-reverse justify-between mt-[15px]">
                <div class="w-[30%]">
                    <label>تاريخ اخر دورة شهرية</label>
                    <input dir="rtl" class="form-control mt-[10px]" />
                </div>
                
                <div class="w-[30%]">
                    <label>عدد الايام</label>
                    <input dir="rtl" class="form-control mt-[10px]" />
                </div>

                <div class="w-[30%]">
                    <label>المتوسط</label>
                    <input dir="rtl" class="form-control mt-[10px]" />
                </div>
                
            </div>
            
            <div class="container lg:max-w-[768px] mt-[20px]">
                <button class="cal_btn form-control">احسبي</button>
            </div>
        </div>
        
        <div class="cal-result mt-[40px]">
          
        </div>
    </div>
</div>

<app-footer></app-footer>