<header>
    <div class="relative bg-[white]" style="box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);">
        <div class="container lg: max-w-[1170px] h-[80px]" style="box-shadow: 0 4px 2px -2px rgba(0,0,0,.1);">
            <nav class="flex flex-row p-[10px] justify-between items-center">
                <div>
                    <ul class="flex flex-row items-center space-x-10">
                        <li>
                            <form class="relative">
                                <input  id="search-input" placeholder="بحث عن" dir="rtl" class="px-[15px]"/>
                                <button id="search-btn">
                                    <span class="icon-search"></span>
                                </button>
                            </form>
                        </li>
                        <li class="side-aside-nav-icon menu-item custom-menu-link"> 
                            <a href="#"> 
                                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                                <i style="font-size:24px" class="fa">&#xf0c9;</i>
                            </a>
                        </li>
                    </ul>
                </div>
               
                <div>
                    <a><img src="/assets/images/home/doctorak.png"/></a>
                </div>
            </nav>
        </div>
    </div>
</header>